<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Blog Post</title>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>
    <header>
        <h1>My Blog</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
        <!-- <button type="button" style="display: none;" class="btn btn-white w-20 hideMe" onclick="window.location.href='/login';"> <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a></button> -->
          <button type="button" style="display: none;" class="btn btn-white w-20 hideMe"> <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a></button>

    </nav>
</body>
</html>