
<%- include("partials/header.ejs") %>

    <main>
        <article>
             <h1>About Me</h1>
                <div class="card fade-in">
                    <p>
                        My name is AKEJU AKINGBERA SAMSON, and I'm a junior fullstack web developer and game developer. I also have a good knowledge of robotics, and I'm open to learning more in this field. Additionally, I enjoy teaching kids and adult how to code and have been doing so for 5 years.
                    </p>
                    <div class="emoji">😊</div>
                </div>
        </article>
    </main>

    <%- include("partials/footer.ejs")  %>


