
<%- include("partials/header.ejs") %>

    <main>
        <article>
             <h1>Contact Me</h1>
                <p>
                    You can get in touch with me through:
                </p>
                <ul>
                    <li>Email: <a href="mailto:akingberaa115@gmail.com">akingberaa115@gmail.com</a></li>
                    <li>Phone: <a href="tel:+7061372086">++234 7061372086</a></li>
                    <li>Social Media:
                        <a href="https://www.linkedin.com/in/akingbera-akeju-99a4ab15a/" target="_blank">LinkedIn</a>
                        <a href="https://twitter.com/AkingberaA53506" target="_blank">Twitter</a>
                    </li>
                </ul>
        </article>
    </main>

    <%- include("partials/footer.ejs")  %>


