
<%- include("partials/header.ejs") %>

    <main>
        <article>
             <h1>Welcome To This Simple Blog Where you can Make a simple Blog post</h1>
                <div class="card fade-in">
                        <a class="btn btn-block" href="/login" role="button">
                        <i class="fab fa-google"></i>
                            Sign In
                        </a>
                        <a class="btn btn-block" href="/register" role="button">
                        <i class="fab fa-google"></i>
                           Register
                        </a>
                        <div class="emoji">😊</div>
                </div>
        </article>
    </main>

    <%- include("partials/footer.ejs")  %>


